@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");

body {
  background: #f5f5f5;
}

h1 {
  font: italic lighter 3.5em/1 'Libre Baskerville', serif;
  text-align: center;
  margin: 1em 0;
}

p {
  font: italic lighter 1em/1 'Libre Baskerville', serif;
  text-align: center;
  margin: 0 0 3em;
}

#canvas-container {
  width: 100%;
  padding-top: 100%;
  position: relative;
  background-color: #eaeaea;
}

#canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#container {
  margin: 0 auto;
  width: 700px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  @media screen and (max-device-width: 412px) {
    width: 90%;
  }
}

#footer {
  margin: 2em 0;
}
